[submodule "instrument-automation"]
	path = instrument-automation
	url = https://github.com/jdtech3/instrument-automation.git
	branch = main
[submodule "ece295lib"]
	path = ece295lib
	url = https://github.com/svhum/ece295lib.git
	branch = main
[submodule "m3-tests"]
	path = m3-tests
	url = https://github.com/svhum/ece295-m3.git
